# All I/Os

set_io all[0] X0Y1/A
set_io all[1] X0Y2/A
set_io all[2] X0Y3/A
set_io all[3] X0Y4/A
set_io all[4] X0Y5/A
set_io all[5] X0Y6/A
set_io all[6] X0Y7/A
set_io all[7] X0Y8/A

set_io all[8] X1Y9/A
set_io all[9] X2Y9/A
set_io all[10] X4Y9/A
set_io all[11] X5Y9/A
set_io all[12] X7Y9/A
set_io all[13] X8Y9/A

set_io all[14] X1Y0/A
set_io all[15] X2Y0/A
set_io all[16] X4Y0/A
set_io all[17] X5Y0/A
set_io all[18] X7Y0/A
set_io all[19] X8Y0/A

set_io all[20] X9Y1/A
set_io all[21] X9Y2/A
set_io all[22] X9Y3/A
set_io all[23] X9Y4/A
set_io all[24] X9Y5/A
set_io all[25] X9Y6/A
set_io all[26] X9Y7/A
set_io all[27] X9Y8/A

# For general tests

set_io clk1 X0Y1/A
set_io clk2 X0Y2/A
set_io ena  X0Y3/A
set_io rst  X0Y4/A

set_io e[0] X0Y5/A
set_io e[1] X0Y6/A
set_io e[2] X0Y7/A
set_io e[3] X0Y8/A

set_io a[0] X1Y9/A
set_io a[1] X2Y9/A
set_io a[2] X4Y9/A
set_io a[3] X5Y9/A
set_io a[4] X7Y9/A
set_io a[5] X8Y9/A

set_io b[0] X1Y0/A
set_io b[1] X2Y0/A
set_io b[2] X4Y0/A
set_io b[3] X5Y0/A
set_io b[4] X7Y0/A
set_io b[5] X8Y0/A

set_io c[0] X9Y1/A
set_io c[1] X9Y2/A
set_io c[2] X9Y3/A
set_io c[3] X9Y4/A
set_io c[4] X9Y5/A
set_io c[5] X9Y6/A
set_io c[6] X9Y7/A
set_io c[7] X9Y8/A

# For the register_file test

set_io addr_a[0] X1Y9/A
set_io addr_a[1] X2Y9/A
set_io addr_a[2] X4Y9/A
set_io addr_a[3] X5Y9/A
set_io addr_a[4] X7Y9/A

set_io addr_b[0] X1Y0/A
set_io addr_b[1] X2Y0/A
set_io addr_b[2] X4Y0/A
set_io addr_b[3] X5Y0/A
set_io addr_b[4] X7Y0/A

set_io addr_c[0] X8Y9/A
set_io addr_c[1] X8Y0/A

set_io word_a[0] X0Y5/A
set_io word_a[1] X0Y6/A
set_io word_a[2] X0Y7/A
set_io word_a[3] X0Y8/A

set_io word_b[0] X9Y1/A
set_io word_b[1] X9Y2/A
set_io word_b[2] X9Y3/A
set_io word_b[3] X9Y4/A

set_io word_c[0] X9Y5/A
set_io word_c[1] X9Y6/A
set_io word_c[2] X9Y7/A
set_io word_c[3] X9Y8/A

# For the macc_8x8_20 test

set_io product[0] X9Y1/A
set_io product[1] X9Y2/A
set_io product[2] X9Y3/A
set_io product[3] X9Y4/A
set_io product[4] X9Y5/A
set_io product[5] X9Y6/A
set_io product[6] X9Y7/A
set_io product[7] X9Y8/A
set_io product[8] X0Y5/A
set_io product[9] X0Y6/A
set_io product[10] X0Y7/A
set_io product[11] X0Y8/A
